body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures all nav items are vertically aligned */
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #2c3e50;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    font-size: 0.8em;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0; /* Ensures no margin above the dropdown */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495e;
    min-width: 160px;
    z-index: 1;
    left: 0; /* Aligns dropdown to the left side */
}

.dropdown-content a {
    display: block;
    padding: 12px 16px; /* Adds padding to links in the dropdown */
}

.dropdown:hover .dropdown-content {
    display: block;
}
